

body {
    background-color: #2d2424;
}
.tier-list {
    margin: 4px 2px 1px 2px;
    border: 2px solid black;
    border-radius: 20px; 
    min-height: 100px;
    width: 100%;
    display: flex;
    gap: 10px; 
    background-color: #f9f9f9; 
}

.tier-list > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 98px;
    margin: 0; /* Remove default margin */
    flex-shrink: 0;
    margin: 2px 1px 2px 5px;
}
.main-div{
    display: flex;
    
}

.main-div > div {
    background-color: #1EAA4B;
}

form {
    display: flex;
    margin: 3px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #737674;
    width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form > label {
    font-size: 25px ;
    font-weight: bold;
    color: #333;
    margin-top: 7px;
    margin-right: 5px;
}

form > input {
    width:100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

form > button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 2px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#tier-list-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.tier-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0; 
    background: #fff;  
    border: 1px solid #ddd; 
    flex: 1; 
    margin-left: 5px;
    flex-wrap: wrap;
    width: 100%;  
    border-left: 2px Solid;
    border-radius: 0px 20px 20px 0px;
}

#non-tier-section{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    height: 250px;
    overflow-y: auto;
    background-color: #503152;
    border:1px solid #007bff;
    margin-left: 2px;
    /* position: absolute; */

}

.item-container {
    margin: 2px 4px 2px 4px; 
    /* width: 80px; */
    height: 90px;
    gap: 3px;
    flex: 0 0 90px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.item-container > img {
  display: block;
  margin: 0; /* No margin for alignment */
  border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.2px solid black;
    border-radius: 5px;
}