

body {
    background-color: #2d2424;
    width: 100vw;
    height: 100vh;
}
.tier-list {
    /* border: 2px solid black; */
    min-height: 100px;
    width: 100%;
    display: flex;
}

.tier-list > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    margin: 2px;
    font-size: 35px;
    flex-shrink: 0;
}
.main-div{
    display: flex;
    width: 100vw;
    height: 38vh;
    
}

.main-div > div {
    background-color: #20491d;
    width: 35%;
}

.main-div > div > h1 {
    height: 30%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 53px;
    color: #bc6238;
    font-style: oblique;
}


#non-tier-section{
    display: flex;
    width: 64%;
    flex-wrap: wrap;
    height: 350px;
    overflow-y: auto;
    background-color: #503152;
    border:1px solid #007bff;
    margin-left: 2px;
    /* position: absolute; */
}

form {
    display: flex;
    margin: 3px;
    border: 1px solid #ccc;
    background-color: #737674;
    width: 99%;
    height: 82px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form > label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: 37px;
    font-weight: bold;
    margin-right: 5px;
}

form > input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 34px;
}

form > button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 25px;
    width: 170px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#tier-list-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.tier-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    border: 0.1px solid #ddd;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
}

.item-container {
    margin: 2px 4px 2px 4px;
    display: flex;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
}

.item-container > img {
    display: block;
    margin: 0;
    border: 1px solid black;
    /* border-radius: 5px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}